* {
  box-sizing: border-box;
}

/* inner : 모든 콘텐츠의 중앙정렬 역할을 한다.*/
.inner {
  margin: 0 auto;
  width: 1200px;
}

/* title component */
.title {
  width: 100%;
  text-align: center;
}

.title h2 {
  font-size: 38px;
  color: #333;
  line-height: 1;
  font-weight: bold;
}

.title p {
  font-size: 21px;
  line-height: 1;
  color: #666;
  margin: 25px 0 40px 0;

}


/* s-title component */
.s-title .title {
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 74px;
}

.s-title .title h3 {
  font-size: 26px;
  color: #333;
  line-height: 1;
  /* line-height: 10px; */
}

.s-title .title .btn__more {
  display: block;
  padding: 15px 0;
  width: 136px;
  line-height: 10px;
  color: #8a8a8a;
  border: 1px solid #cdcdcd;
  border-radius: 4px;
  text-align: center;
}

.s-title .title .btn__more i {
  margin-left: 5px;
}

.s-title .title h3 span {
  color: #0063b0;
}

.s-title .content>div .info {
  margin-left: 35px;
  width: 50%;
}

.s-title .content>div .info h4 {
  line-height: 2;
  font-size: 26px;
  color: #333;
}

.s-title .content>div .info h4 a {
  color: #333;
  display: block;
  width: 100%;
  height: 100%;
}

.s-title .content>div .info strong {
  display: inline-block;
  margin: 0 5px 5px 0;
  font-size: 18px;
  color: #333;
  letter-spacing: -0.5px;

}

.s-title .content>div .info p {
  position: relative;
  font-size: 18px;
  color: #666;
  letter-spacing: -0.5px;
  display: inline;
}



/* 배너의 info영역 */
.bnr .info {
  text-align: center;
}

.bnr .info h3 {
  font-size: 25px;
  line-height: 31px;
}

.bnr .info p {
  margin: 15px 0;
  font-size: 15px;
  line-height: 24px;
  font-weight: 300;
}

.bnr .info a {
  font-size: 20px;
  display: inline-block;
  width: 140px;
  padding: 0 30px;
  line-height: 40px;
  background-color: #334da4;
  color: white;
  border-radius: 7px;
}



/* 제이쿼리 sweiper */
.swiper-container {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}




/* header .top : header의 윗부분*/
header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0;
}

header .top h1 a:first-child {
  margin-right: 28px;
}

header .top>div {
  display: flex;
}

header .top>div ul {
  display: flex;
}

header .top .control {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

header .top .control h2 {
  /* line-height: 36px; */
  font-size: 16px;
  color: #333;
  font-weight: normal;
  margin-right: 10px;
}

header .top .control ul li button {
  /* min-width: 36px; */
  height: 36px;
  padding: 0 16px;
  font-size: 14px;
  color: #3190ce;
  background-color: white;
  border: 1px solid #dfdfdf;
  border-radius: 36px;
  margin: 2px;
}

header .sns {
  position: relative;
}

header .top>div {
  display: flex;
  align-items: center;
}


header .sns:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 1px;
  height: 30px;
  transform: translateY(-50%);
  background-color: #d3d3d3;
}

header .sns li img {
  width: 46px;
  margin-left: 12px;
}

header .sns li img:first-child {
  margin-left: 24px;
}




/* header .btm  header의 아랫부분*/
header .btm {
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

header .btm>div {
  display: flex;
  justify-content: space-between;
}

header .btm>div .lnb ul {
  display: flex;
}

header .btm>div .lnb ul li a {
  display: inline-block;
  line-height: 59px;
  padding: 0 40px;
  color: #333;
  font-size: 22px;
}

header .btm .spot * {
  vertical-align: middle;
}

header .btm>div .spot {
  font-size: 0;
}

header .btm>div .spot a {
  display: inline-block;
  padding: 0 25px;
  line-height: 59px;
  font-size: 15px;
  color: #666;
  position: relative;
}

header .btm>div .spot a~a:before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  width: 1px;
  height: 10px;
  background: #e3e3e3;
  transform: translateY(-50%);
}

header .btm .spot button {
  background: none;
}

header .btm .spot button i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 59px;
  color: #0063b0;
  font-size: 26px;
}


/* section 금융서비스 */
.service {
  padding: 100px 0 150px 0;
}



.service .banner {
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(2, 580px);
  grid-template-rows: repeat(2, 280px);
}


/* 배너의 윗단*/
.service .bnr__left {
  display: flex;
  justify-content: space-between;
}

.service .bnr__left .bg {
  background: url(./img/servies_bnr2.png) no-repeat;
  background-position: left top;
}

.service .bnr__left .info {
  background: linear-gradient(to right, #3194d5, #4fb2f6);
}

.service .bnr__right {
  display: flex;
  justify-content: space-between;
}

.service .bnr__right .bg {
  background: url(./img/servies_bnr1.png) no-repeat;
  background-position: left top;
  order: 2;
}

.service .bnr__right .info {
  background: linear-gradient(to right, #334da4, #3c62b3);
}

.service .bnr__left div,
.service .bnr__right div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 50%;
  color: white;
}






/* 배너의 밑단 event 영역 */
.event {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.event .event__img {
  background: url("./img/img_banner.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;

}



/* 배너의 밑단 recommend 영역 */
.recommend .slide2 {
  position: relative;
  border-top: 2px solid #333;
  padding-top: 20px;
}

.recommend .slide2 .card {
  display: flex;
  align-items: center;
}

.recommend .slide2 .card .card__img {
  font-size: 0;
  position: relative;
}

.recommend .slide2 .card .card__img .img {
  width: 252px;
  height: 160px;
  background-image: url("./img/card.png");
  background-size: cover;
  background-position: center;
}

.recommend .slide2 .card .card__img .button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
}

.recommend .slide2 .card .card__img .button:before {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  width: 1px;
  background: #bfc0c2;
}

.recommend .slide2 .card .card__img div button {
  font-size: 14px;
  color: #666;
  background: none;
  width: 50%;
  height: 45px;
  cursor: pointer;
}


.recommend .slide2 .card .info {
  margin-left: 35px;
}

.recommend .slide2 .card .info h4 a {
  line-height: 1;
  font-size: 26px;
  color: #333;
}

.recommend .slide2 .card .info p {
  position: relative;
  padding: 36px 0;
  font-size: 18px;
  color: #666;
  letter-spacing: -0.5px;
}

.recommend .slide2 .card .info p:before {
  content: "";
  position: absolute;
  left: 0;
  top: 21px;
  width: 36px;
  height: 2px;
  background: #288bcc
}

.recommend .slide2 .control {
  display: flex;
  justify-content: center;
  height: 185px;
  width: 100%;
  height: 25px;
}

.recommend .slide2 .control button {
  width: 50px;
  height: 30px;
  cursor: pointer;
  background: none;
  position: relative;
}

.recommend .slide2 .control button~button::before {
  content: "";
  width: 1px;
  height: 25px;
  position: absolute;
  background-color: #dfdfdf;
  bottom: 0;
  left: 0;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  font-family: fontawesome;
  font-size: 20px;
  color: #868686;
}

.swiper-button-prev:after {
  content: "\f053";
}

.swiper-button-next:after {
  content: "\f054";
}



/* 관심정보 */
.fav-info {
  padding: 100px 0;
  height: 800px;
  background: #F9F9F9;
  font-size: 20px;
}

.fav-info h2 {
  margin-bottom: 50px;
}

.fav-info .fav-info__container {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 65px 420px;
  gap: 30px 25px;
}



.fav-info .senior-pick {
  background: url('./img/시니어플러스-bnt.PNG') no-repeat center;
  background-size: cover;
  border-radius: 5px;
  display: block;
  height: 100%;
  width: 100%;
}


.fav-info .fav-info__tab .tab_type1 {
  display: flex;
  align-items: center;
  height: 100%;
}

.fav-info .fav-info__tab .tab_type1 li {
  flex: 1;
  text-align: center;
  background: #fff;
  color: #333;
  border: 1px solid #e4e4e4;
  border-right: none;
  font-weight: lighter;
  height: 100%;

}

.fav-info .fav-info__tab .tab_type1 li:first-child {
  border-radius: 5px 0 0 5px;
}

.fav-info .fav-info__tab .tab_type1 li:last-child {
  border-radius: 0 5px 5px 0;
  border-right: 1px solid #e4e4e4;
}

.fav-info .fav-info__tab .tab_type1 li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.fav-info .fav-info__tab .tab_type1 li a:hover {
  background: #f5f5f5;
}

.fav-info .fav-info__tab .tab_type1 li a i {
  margin-right: 8px;
  color: #288bcf;
}

.fav-info .bnr .bnr-thmb {
  background: url('./img/leaf.jpg') no-repeat center;
  height: 250px;
  width: 100%;
}

.fav-info .bnr p {
  position: relative;
  text-align: start;
  line-height: 1;
  padding: 33px 0 22px 0;
  color: #288bcf;
  margin: 0;
  margin-bottom: 20px;

}

.fav-info .bnr p::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 36px;
  height: 1px;
  background: #288bcf;

}

.fav-info .info .info-list {
  border-top: 3px solid #288bcf;
  display: flex;
  flex-direction: column;
  height: 100%;
  background: #fff;
}

.fav-info .info .info-list li {
  flex: 1;
  border-bottom: 2px solid #f9f9f9;
}

.fav-info .info .info-list li a {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: lighter;
  position: relative;
}

.fav-info .info .info-list li a::after {
  content: "\f054";
  color: #ddd;
  font-family: fontawesome;
  font-size: 13px;
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  border: 1px solid #ddd;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

}

.fav-info .info .info-list li a strong {
  padding: 0 33px;
  color: #288bcf;
}




/* 교육/세미나 */
.education {
  margin: 100px 0 110px 0;
}

.education-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  gap: 80px 40px;
}


.education-container .reserv {
  grid-row: 1/3;
  padding-bottom: 20px;
}

.education .reserv__thumb {
  display: block;
  box-sizing: border-box;
  height: 600px;
  width: 100%;
  background: url("./img/reserve.jpg") no-repeat left;
  background-size: cover;
  border-radius: 7px;
}


.education-container .off-class {
  grid-row: 1/2;
}

.education-container .on-class {
  grid-row: 2/3;
}

.off-class .bnr__img {
  background: url("./img/부동산특강.jpg");
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
}

.on-class .bnr__img {
  background: url("./img/와인이야기.png");
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}


.s-title .content {
  border-top: 2px solid #333;
  padding-top: 20px;

}

.s-title .content>div {
  display: flex
}

.s-title .bnr__img {
  background-color: black;
  /* background: url(""); */
  width: 250px;
  height: 200px;
  position: relative;
}

.s-title .content .bnr__img .button {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: rgba(255, 255, 255, 0.8);
}

.s-title .content .bnr__img .button::before {
  content: "";
  position: absolute;
  left: 50%;
  height: 100%;
  width: 1px;
  background: #bfc0c2;
}

.s-title .content .bnr__img .button button {
  font-size: 14px;
  color: #666;
  background: none;
  width: 50%;
  height: 45px;
  cursor: pointer;
}




/* 여행/쇼핑 */
.trip {
  padding: 100px 0;
  background: url(./img/trip-bg.jpg);
  background-size: cover;
}

.trip .title h2,
.trip .title p {
  color: white;
}

.trip .title p {
  margin-bottom: 65px;
}

.trip-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 440px;
  gap: 25px;
}

.trip-container div {
  background: #fff;
  position: relative;
  border-radius: 5px;
}

/* 여행/쇼핑 배너 스탬프영역 */
.trip-container div .trip-stamp {
  position: absolute;
  top: -20px;
  right: -10px;
  width: 60px;
  height: 60px;
  background: center;
  z-index: 10;
}

.trip-container .wmp .trip-stamp {
  background-image: url("./img/icon_we.png");
}

.trip-container .lotte .trip-stamp {
  background-image: url("./img/icon_lotte.png");
}

/* 여행/쇼핑 배너 이미지영역 */
.trip__bnr-img {
  width: 100%;
  height: 210px;
  margin-bottom: 35px;
}

.wmp .trip__bnr-img {
  background: url("./img/travel_1.jpg") center no-repeat;
  background-size: cover;
}

.lotte .trip__bnr-img {
  background: url("./img/travel_2.jpg") center no-repeat;
  background-size: cover;
}

.domestic .trip__bnr-img {
  background: url("./img/travel_3.jpg") center no-repeat;
  background-size: cover;
}

/* 여행/쇼핑 배너 info영역 */
.trip .trip__brn-info {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.trip .trip__brn-info h3 {
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 0;
  color: #333;
}

.trip .trip__brn-info p {
  text-align: center;
  font-size: 19px;
  width: 80%;
  line-height: 27px;
  margin-bottom: 25px;
}

.wmp .trip__brn-info strong {
  color: #ED2626;
}

.lotte .trip__brn-info strong {
  color: #122E80;
}

.domestic .trip__brn-info strong {
  color: #288bcc;
}

/* 여행/쇼핑 배너 info영역 바로가기 */
.wmp .trip__brn-info a {
  background-color: #ED2626;
}

.lotte .trip__brn-info a {
  background-color: #122E80;
}

.domestic .trip__brn-info a {
  background-color: #288BCC;
}




/* 일자리 정보 section */
.job-info {
  margin: 100px 0;
}

.job-info .title {
  margin-bottom: 45px;
}

.job-info .s-title .title {
  margin-bottom: 0;
}

.job-info__content {
  display: flex;
  justify-content: space-between;
}


.job-info__container {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-template-rows: 1fr 290px;
}

.job-info__container .title {
  grid-column: 1/-2;
  grid-row: 1/2;
  height: auto;
  padding: 0 0 20px 0;
}

.job-info__container ul {
  grid-column: 1/2;
}

.job-info__container .job-info__bnr {
  grid-column: 2/3;
  grid-row: 2/3;
  margin-left: 20px;
  background: url("./img/노인일자리.png");
  border: 1px solid #e4e4e4;
}

.job-info ul {
  display: flex;
  justify-content: space-between;
}

.job-info ul .content {
  border-top: 2px solid #0063b0;
  height: 100%;
  width: 100%;
  margin-right: 20px;
  text-align: center;

}

.job-info ul .content:last-child {
  margin-right: 0;
}

.job-info ul .content a {
  width: 100%;
}


.job-info ul .content img {
  margin: 35px 0;
}

.job-info .content .content-info {
  width: 80%;
  display: inline-block;
  text-align: start;
}

.job-info ul .content strong {
  font-size: 25px;
  display: block;
  color: #333;
}

.job-info ul .content p {
  margin-top: 15px;
  padding-bottom: 45px;
  font-size: 18px;
  color: #666;
  width: 225px;
  overflow:hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  position: relative;
}

.job-info ul .content span {
  color: #0063b0;
  font-size: 15px;
  display: block;
}

.job-info ul .content p::before {
  position: absolute;
  content: "";
  width: 35px;
  height: 2px;
  background-color: #0063b0;
  bottom: 26px;
  left: 0;
}




/* 해피콜 영역 */
.happycall-box{
  padding: 40px;
  border: 1px solid ;
}

.happycall-title{
  display: flex;
  align-items: center;
}

.happycall-title h2{
  margin-right: 10px;
  font-size: 26px;
}

.happycall-title h2 span{
color: #3f69b8;
}

.happycall-title h2 em{
  color: #8a76b4;
  font-weight: bold;
}

.happycall-title p{
  color: #666;
  font-size: 16px;
}
/* 해피콜 문의하기 영역 */
.happycall-box .happycall-form{
  padding: 30px 0;
  display: flex;
  justify-content: space-between;
  }
  
  .happycall-box .happycall-form label{
    color: #333;
    font-size: 15px;
    padding: 0 6px 0 0;
  }
  
  .happycall-box .happycall-form input, .happycall-box .happycall-form select{
  border: 1px solid #ddd;
  height: 50px;
  border-radius: 5px;
  background-color: #fafafa;
  font-size: 14px;
  padding-left: 20px;
  margin: 0 5px;
  }

  .happycall-box .happycall-form input::-webkit-input-placeholder{
    font-size: 15px;
    color: #a9a9a9;
  }

  .happycall-box .happycall-form button{
    width: 130px;
    height: 50px;
    background-color: #288bcc;
    border-radius: 5px;
    color: #fff;
    font-size: 15px;
    font-weight: bold;
  }
  /* 해피콜 문의하기 약관보기 영역 */
  .happycall-box .checkbox{
    display: inline-block;
    vertical-align: middle;
    position: relative;
    margin-right: 20px;
  }

  .happycall-box .checkbox input[type="checkbox"]{
    position: absolute;
    left: 0;
    top: 0;
    width: 29px;
    height: 25px;
    margin: 0;
    opacity: 0;
    vertical-align: middle;
    z-index: 99;
  }

  .happycall-box input[type="checkbox"] + label {
    display: inline-block;
    cursor: pointer;
    padding-left: 35px;
    color: #333;
    font-size: 16px;
    line-height: 25px;
    position: relative;
}

.happycall-box input[type="checkbox"]+ label::after {
  content: '';
  width: 29px;
  height: 25px;
  display: block;
  background: url("./img/check-none.png") no-repeat 0 0;
  position: absolute;
  left: 0;
  top: 0;
  transition: all .2s cubic-bezier(0,0,.01,.98);
  -webkit-transition: all .2s cubic-bezier(0,0,.01,.98);
  -moz-transition: all .2s cubic-bezier(0,0,.01,.98);
}

  .happycall-box input[type="checkbox"]:checked + label::after{
    background: url("./img/check-on.png");

  }

  .happycall-box .terms{
    display: inline-block;
    color: #8b8b8b;
    text-decoration: underline;
    margin-left: 20px;
    vertical-align: -1px;
  }

  