* {
  box-sizing: border-box;
}

/* inner : 모든 콘텐츠의 중앙정렬 역할을 한다.*/
.inner{
  margin: 0 auto;
  width: 1200px;
}




/* header .top : header의 윗부분*/
header .top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 33px 0;
}

header .top h1 a:first-child {
  margin-right: 28px;
}

header .top > div {
  display: flex;
}

header .top > div ul {
  display: flex;
}

header .top .control {
  display: flex;
  align-items: center;
  margin-right: 24px;
}

header .top .control h2 {
  /* line-height: 36px; */
  font-size: 16px;
  color: #333;
  font-weight: normal;
  margin-right: 10px;
}

header .top .control ul li button {
  /* min-width: 36px; */
  height: 36px;
  padding: 0 16px;
  font-size: 14px;
  color: #3190ce;
  background-color: white;
  border: 1px solid #dfdfdf;
  border-radius: 36px;
  margin: 2px;
}

header .sns {
  position: relative;
}

header .top > div {
  display: flex;
  align-items: center;
}


header .sns:before {
  position: absolute;
  content: "";
  top: 50%;
  left: 0;
  width: 1px;
  height: 30px;
  transform: translateY(-50%);
  background-color: #d3d3d3;
}

header .sns li img {
  width: 46px;
  margin-left: 12px;
}

header .sns li img:first-child {
  margin-left: 24px;
}




/* header .btm  header의 아랫부분*/
header .btm{
  border-top: 1px solid #ededed;
  border-bottom: 1px solid #ededed;
}

header .btm >div{
  display: flex;
  justify-content: space-between;
}

header .btm >div .lnb ul{
  display: flex;
}

header .btm >div .lnb ul li a{
  display: inline-block;
  line-height: 59px;
  padding: 0 40px;
  color: #333;
  font-size: 22px;
}

header .btm .spot *{
  vertical-align: middle;
}

header .btm >div .spot {
font-size: 0;
}

header .btm >div .spot a{
  display: inline-block;
  padding: 0 25px;
  line-height: 59px;
  font-size: 15px;
  color: #666;
  position: relative;
}

header .btm >div .spot a~a:before{
content: "";
position: absolute;
left: 0;
top: 50%;
width: 1px;
height: 10px;
background: #e3e3e3;
transform: translateY(-50%);
}

header .btm .spot button{
  background: none;
}

header .btm .spot button i{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 59px;
  height: 59px;
  color: #0063b0;
  font-size: 26px;
}



/* section 금융서비스 */
.block{
  padding: 100px 0;
}

.block .title{
  text-align: center;
}
.block .title h2{
  font-size: 38px;
  color: #333;
  line-height:1;  
}

.block .title p{
  font-size: 21px;
  line-height:1;
  color: #666;
  margin: 25px 0 40px 0;
}

.block .banner{
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(2,580px) ;
  grid-template-rows: repeat(2,280px);
}


/* 배너의 윗단 레이아웃 */
.block .bnr__left{
  display: flex;
  justify-content: space-between;
}

.block .bnr__left .bg{
  background: url(./img/bg_ad2.png) no-repeat;
  background-position: left top;
}

.block .bnr__left .info{
  background: linear-gradient(to right, #3194d5, #4fb2f6);
}

.block .bnr__right{
display: flex;
justify-content: space-between;
}

.block .bnr__right .bg{
  background: url(./img/bg_ad1.png) no-repeat;
  background-position: left top;
  order: 2;
}

.block .bnr__right .info{
  background: linear-gradient(to right, #334da4, #3c62b3);
}

.block .bnr__left div,
.block .bnr__right div{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  width: 50%;
  color: white;
}

.bnr .info h3{
  font-size: 24px;
  line-height: 31px;
} 
.bnr .info p{
  margin: 15px 0;
  font-size: 13px;
  line-height: 24px;
}

.bnr .info a{
  display: inline-block;
  width: 140px;
  padding: 0 40px;
  line-height: 40px;
  background-color: #334da4;
  color: white;
  border-radius: 7px;
}